.hoverBody
  position: relative
  display: inline-block
  width: 100%

.hoverText
  position: absolute
  display: none
  left: 100%
  top: 100%
  width: 160px
  padding: 3px 6px
  background: rgba(0, 0, 0, 0.8)
  font-size: 14px
  z-index: 1
  &.active
    display: block
